body{
  cursor: crosshair;
}
p{
  text-align: center;
}
.imgbackground{
  width: 1030px;
  height: 1115px;
}
.block-winner{
  bottom: 200px;
}
.div-info{
  width: 570px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  color: #F3B924;
  background-color: #292928;
  font-size: 25PX;
}
.mode-paysage1,.mode-paysage2{
  display: none;
}
/*-------------- CONTAINERS -----------------*/
.containermenu, .block-winner, .container-menu-input-player, .menu-start, .menu-input-btnok, .btnnewgame, .btnstart, .block-idles-grid{
  position: absolute;
}
.backgroundgame, .containergame{
  position: relative;
}
.container-global{
  font-family: 'Grandstander', cursive;
  padding-top: 30px;
}
.container-global,.container-presentation, .containermenu, .container-scores, .menu-input-btnok, .container-score-round,.containergame, .block-btn{
  display: flex;
}
.container-global,.container-presentation, .containermenu, .container-scores, .menu-input-btnok, .containergame, .menu-input-btnok{
  justify-content: center;
}
.container-global,.container-presentation, .containermenu, .container-scores, .menu-input-btnok, .container-score-round{
  align-items: center;
}
.container-global,.container-presentation, .containermenu{
  flex-direction: column;
}
.container-scores, .menu-input-btnok{
  flex-direction: row;
}
.containergame{
  align-items: flex-end;
 }
 .container-scores, .container-score-round{
  background-color: lightgray;
 }
 .container-scores, .container-score-round{
  justify-content: space-evenly;
}
.container-scores{
 width: 1000px;
 border: 1rem solid #292928;
}
.container-score-round{
 width: 800px;
 height: 150px;
}
.container-score-round, .imgbackground{
  filter: drop-shadow(0 0 0.30rem black)
}
.containermenu{
 bottom: 200px;
}
.containermenu > p, .block-winner, .inputplayer1, .inputplayer2{
 color: white;
}
.container-menu-input-player{
 display: none;
}
.block-idles-grid, .img-menu-start, .imgbackground{
  pointer-events: none;
}

/*--------------MENU-----------------*/
.menu-start{
  display: block;
}
.img-menu-start{
  height: auto;
  width: 400px;
}
.menu-input-btnok{
  top: 68%;
  left: 18%;
} 
.img-menu-input{
  width: 400px;
}
/*--------------BUTTONS-----------------*/
.btnrolldice, .btnhold, .btnnewgame, .btninputok, .btnstart, .inputplayer1, .inputplayer2{
  border: none;
  background-color: transparent ;
  cursor: pointer;
}
.btnnewgame{
  top: 370px;
  right: 20px;
}
.btnstart{
  height: 34px;
  width: 118px;
  top: 122px;
  left: 133px;
  transform: rotate(-10deg);
}
/*--------------INPUTS-----------------*/
.inputplayer2{
  transform: rotate(8deg);
  left: 40%;
}
.inputplayer1{
  transform: rotate(-8deg);
  left: 10%;
}
.inputplayer1, .inputplayer2{
  font-family: 'Grandstander', cursive;
  top:60%;
  width: 110px;
}
/*--------------PERSONNAGES-----------------*/
.div-idlesP1{
  background: url(./ressources/player1-start.png) no-repeat;
}
.div-idlesP2{
  background: url(./ressources/player2-start.png) no-repeat;
}
/*--------------Position PERSONNAGES-----------------*/
.block-idles-grid{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(3,1fr);
}
.div-idlesP1, .div-idlesP2{
  width: 138px;
  height: 135px;
  animation: run 1s steps(30) infinite;
}
/*-------------- ** PLAYER 1 ** -----------------*/
.profil-player1 .div-idlesP1{
  grid-column: 1;
}
.div-idlesP2, .profil-player2{
  grid-column: 7;
}
.profil-progress-player1, .profil-progress-player2, .profil-player1, .profil-player2, .div-idlesP1, .div-idlesP2, .profil-attack-player1, .profil-attack-player2, .profilDeadPlayer1, .profilDeadPlayer2{
  grid-row: 3;
}
.profil-attack-player1, .profil-attack-player2, .profilDeadPlayer1, .profilDeadPlayer2{
  animation: none;
}
.profil-progress-player1{
  grid-column: 2;
}
.profil-progress-player2{
  grid-column: 6;
}
.profil-attack-player1{
  grid-column: 3;
}
.profil-attack-player2{
  grid-column: 5;
}
.profilWinnerPlayer1, .profilWinnerPlayer2{
  grid-row: 1;
  animation: run 1s steps(30) infinite;
}
.profilDeadPlayer1, .profilDeadPlayer2, .profilWinnerPlayer1, .profilWinnerPlayer2{
  grid-column: 4;
}
.profilDeadPlayer1, .profilDeadPlayer2{
  height: 120px;
  width: 165px;
}

/*-------------- ** ANIMATION ** -----------------*/
@keyframes run {
  100%{
    background-position: -4096px, 0 ;} 
}


/*-------------- ** MEDIA QUERIES ** -----------------*/
/* @media screen and (orientation: landscape){ */
@media (max-width: 750px){
  .container-global{
    padding-top: 10px;
    font-size: 20px;
  }
  .container-scores{
    width: 600px;
  }
  .logo-battle{
    width: 100px;
  }
  .container-score-round{
    width:550px;
    height: 100px;
  }
  .imgbackground{
    width: 1030px;
    height: 1140px;
  }
  .block-idles-grid{
    width: 600px;
    height: 250px;
  }
  .div-info{
    width: 250px;
    height: 60px;
  }
  .img-dice{
    width: 120px;
  }
  .btnnewgame{
    top: 180px;
  }
  .img-btn-new-game,.img-btn-roll-dice, .img-btn-hold{
    width: 150px;
  }
  .imgwin{
    position: relative;
    top: 187px;
    width: 300px;
  }
}
@media (max-width: 400px){
  
  .container-scores{
    width: 330px;
  }
  .container-presentation > p {
    font-size: 13px;
  }
  .imgbackground{
    width: 375px;
  }
  .block-idles-grid{
    width: 330px;
  }
  .container-score-round{
    width: 350px;
  }
  .containermenu{
    bottom: 200px;
  }
  .img-menu-start{
    width: 350px;
  }
  .img-menu-input,.img-btn-hold,.img-btn-new-game,.btnrolldice{
    display: none;
  }
  .btnstart{
    top: 105px;
    left: 110px;
  }
  .imgbackground{
    width: 1000px;
    height: 1040px;
  }
  .mode-paysage1, .mode-paysage2{
    display: block;
    position: relative;
    width: 180px;
  }
  .mode-paysage1{
    bottom: 400px;
    right: 90px;
  }
  .mode-paysage2{
    bottom: 550px;
    left: 90px;
  }
}